{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>InfoLinker</title>
  </head>
  <body>
    <div id="root"></div>
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'App.js' %}" ></script>
    <!-- <script type="text/javascript" src="http://192.168.11.7:8080/App.js" ></script> -->
  </body>
</html>
