body { 
  background-color: #333;
  color: #fff;
}

a{
	text-decoration: none ;
}

.content-area {
  margin-top: 60px;
}

.footer-area {
  height: 50px;
}
.content-width80 {
  width: 80%;
  margin: auto;
}